.tabs {
  border-radius: 5px;
  overflow: hidden;
}

.tab-buttons {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.tab-buttons button:hover {
  background-color: #f9f9f9;
}

.tab-buttons button.active {
  background-color: #fff;
  border-bottom: 2px solid blue;
  color: blue;
}

.tab-content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}
